.message {
  font-size: 1.3em; font-weight: bold;
}

input.green {
  border: 1px solid limegreen;
  box-shadow: 0 0 4px limegreen;
}

.message.green {
  color: limegreen;
}

input.red {
  border: 1px solid red;
  box-shadow: 0 0 4px red;
}

.message.red {
  color: red;
}
